    /* disable text selection */
svg *::selection {
    background : transparent;
}
svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}


.selected {
    fill: pink;
}
rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}


g.state.selected circle.outer {
    display         : inline;
}

